<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
       <listener class-name="Codenboxautomationlabs.MavenExample.Listeners"/>
       <listener class-name="resources.ExtentReporterNG"/>
 </listeners>

<!-- 	<test thread-count="5" name="validating Title">
    <classes> 
      <class name="Codenboxautomationlabs.MavenExample.ValidTitleTest"/>
    </classes>
   </test> -->
    
<!--   <test  name="validating NavigationBar">
      <classes>
      <class name="Codenboxautomationlabs.MavenExample.NavigationBarTest"/>
      </classes>  
  </test>
  
  <test  name="validating Login">
  <classes>
    <class name="Codenboxautomationlabs.MavenExample.LoginPageTest"/>
  </classes>
  </test> --> 
  
   
    <test name="ErrorLogs">
  <classes>
    <class name="Codenboxautomationlabs.MavenExample.ErrorLogs"/>
  </classes>
  </test> 
  
  
  
</suite> <!-- Suite -->
